<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creation new car</title>
</head>
<body marginheight="30" body marginwidth="30">
<form th:method="POST" th:action="@{/cars}" th:object="${car}">
    <label for="type">Enter type:</label>
    <input type="text" th:field="*{type}" id="type"/>
    <div style="color:red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type Error</div>
    <label for="vendor">Enter vendor:</label>
    <input type="text" th:field="*{vendor}" id="vendor"/>
    <div style="color:red" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}">Vendor Error</div>
    <label for="model">Enter model:</label>
    <input type="text" th:field="*{model}" id="model"/>
    <div style="color:red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model Error</div>
    <label for="engine">Enter engine:</label>
    <input type="text" th:field="*{engine}" id="engine"/>
    <div style="color:red" th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}">Engine Error</div>
    <label for="color">Enter color:</label>
    <input type="text" th:field="*{color}" id="color"/>
    <div style="color:red" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Color Error</div>
    <label for="yearOfProduction">Enter year of production:</label>
    <input type="number" th:field="*{yearOfProduction}" id="yearOfProduction"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}">Year of
        production Error
    </div>
    <label for="price">Enter price:</label>
    <input type="number" th:field="*{price}" id="price"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>
    <br/>
    <hr/>
    <div align="center"><input type="submit" value="Create!"></div>
</form>
</body>
</html>